.projectsContainer {
    // height: 800px;
    width: 100%;

    // position: relative;
    background: #f7f7f7;

    .projectsBG {
        height: 100%;
        width: 100%;
        background-image: url('../public/projectsBG.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;

        max-width: 1920px;
        margin: 0 auto;

        .projectsWrapper {
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // border-top: 1px solid lightgrey;
            padding-top: 40px;

            gap: 30px;

            .projectsTitle {
                width: 100%;

                h1 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 2rem;
                    color: rgba(0, 0, 0, 0.8);
                    text-align: center;
                    padding: 3rem 0 1.3rem 0;
                }
            }

            .projectContainer {   
                width: 100%; 

                .projectWrapper {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    .projectDescription {
                        flex: 1 0 300px;
                        max-width: 550px;
                        background: #fff;
                        box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.15);
                        border-radius: .5rem;
                        padding: 0 3rem;

                        h1 {
                            text-align: center;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.3rem;
                            color: rgba(0, 0, 0, 0.8);
                            text-align: center;
                            padding: 3rem 0 1.3rem 0;
                        }

                        .projectP {
                            // text-align: center;
                            font-family: 'Urbanist', sans-serif;
                            font-size: 1.1rem;
                            line-height: 1.5;
                        }

                        .projectTech {
                            font-family: 'Urbanist', sans-serif;
                            font-size: .9rem;
                            color: rgba(0, 0, 0, 0.75);
                            padding: 1.3rem 0 3rem 0;
                        }
                    }

                    .projectImage {
                        max-width: 700px;
                        width: 100%;
                        // height: 100%;
                        max-height: 500px;
                        position: relative;
                        overflow: hidden;

                        box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.15);
                        border-radius: .5rem;

                        // aspect-ratio: 2 / 1;

                        .slide {
                            max-height: 400px;
                            height: 100%;
                            position: absolute;
                            opacity: 0;
                            transition: opacity ease-in-out 0.4s;
                            width: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                // object-fit: cover;

                                
                            }

                            .fullpage {
                                // position: absolute;
                                // z-index: 9999;
                                // top: 0;
                                // left: 0;
                                // width: 100vw;
                                // height: 100vh;
                                // background-size: contain;
                                // background-repeat: no-repeat no-repeat;
                                // background-position: center center;
                                // background-color: black;
                                width: 100vw;
                                position: relative;
                                left: 50%;
                                right: 50%;
                                margin-left: -50vw;
                                margin-right: -50vw;
                            }
                        }

                        .activeAnim {
                            position: relative;
                            opacity: 1;
                        }

                        .activeFullpage {
                            // height: 100vh;
                            // max-height: 100vh;
                            // width: 100vw;
                            position: absolute;
                            max-height: 100vh;
                            opacity: 1;
                            height: 100vh;
                            width: 100vw;
                            top: 0;
                            left: 0;
                            z-index: 999;
                        }

                        .btnSlide {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            background: #f1f1f1;
                            border: 1px solid rgba(34, 34, 34, 0.287);
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            img {
                                width: 25px;
                                height: 25px;
                                pointer-events: none;
                            }
                        }

                        .prev {
                            top: 50%;
                            left: 20px;
                            transform: translateY(-60%);
                        }

                        .next {
                            top: 50%;
                            right: 20px;
                            transform: translateY(-60%);
                        }

                        .containerDots {
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: flex;

                            background-color: rgba(97, 96, 96, 0.4);
                            border-radius: .5rem;
                            padding: 3px 0;

                            .dot {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                border: 3px solid #f1f1f1;
                                margin: 0 5px;
                                background: #f1f1f1;
                            }

                            .active {
                                background: rgb(32, 32, 32);
                            }
                        }                     
                    }
                }
            }
        }
    }
    .projectsBG::after {
        content: '';
        position: absolute;
        // top: 0;
        top: -10px;
        height: 20px;
        width: 100%;
        max-width: 1920px;
        background: #32A49A;
    }
}

@media (max-width: 1300px) {
    .projectsContainer {
      .projectsBG {
        .projectsWrapper {
            .projectContainer {
                .projectWrapper {
                    max-width: 700px;
                    margin: 0 auto;
                    .projectDescription {
                        // max-width: 100%;
                        flex-basis: 100%;
                        max-width: 100%;
                        border-radius: .5rem .5rem 0 0;
                        box-shadow: none;
                        border: 1px solid #74858b;
                    }

                    .projectImage {
                        border-radius: 0 0 .5rem .5rem;
                        // box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.15);
                        border: 1px solid #74858b;
                    }
                }

            }
        }
      }
    }
  }

  @media (max-width: 720px) {
    .projectsContainer {
      .projectsBG {
        .projectsWrapper {
            .projectContainer {
                .projectWrapper {
                    .projectDescription {
                        border-radius: 0;
                        border: none;
                        border-top: 1px solid #74858b;
                    }

                    .projectImage {
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid #74858b;
                    }
                }

            }
        }
      }
    }
}

